{# src/NX/BLogBundle/Resources/views/layout.html.twig 是blog bundle的布局 #}
{# 继承项目全局布局 #}
{% extends "::layout.html.twig" %}

{% block title %}
Blog - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Posts</h1>
    
    <hr>
    
    {% block blog_body %}
    {% endblock %}

{% endblock %}
    
