{# src/NX/BLogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
Blog - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Blog</h1>
    
    <hr>
    
    {% block blog_body %}
    {% endblock %}

{% endblock %}
    
