{# add artcile Twig template #}

{% extends "BlogBundle::layout.html.twig" %}

{% block body %}

    <h2>Add an article</h2>
    
    {% include "BlogBundle:Blog:forme.html.twig" %}
    
    <p>
        Attention: this article will be added directly to the index page after confirmation of forme.
    </p>

{% endblock %}


