{# add Twig template #}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
Add an article - {{ parent() }}
{% endblock %}

{% block blog_body %}
<h2>Add an article</h2>

{% include "BlogBundle:Blog:forme.html.twig" %}

<p>
    You can add new post now...
</p>

<p>
    <a href="{{ path('blog_read', {'id': article.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Return to post
    </a>
</p>

{% endblock %}


