{# Blog bundle index template #}

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to my first page wiht symfony2! NIE Xin</title>
    </head>
    <body>
        <h1>{{ name }} : My first symfony page</h1>
        
        <p>
            symfony真不容易学，也不知道什么时候能从头到尾学明白他。希望能有机会找到自己将来。
        </p>
    </body>
</html>

