{# menu Twig template #}

<h3>Newest articles</h3>

<ul>
    <ul class="nav nav-pills nav-stacked">
        {% for article in list_articles %}
            <li><a href="{{ path('blog_read', {'id': article.id}) }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</ul>
