{# modify Twig template #}

{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
Modify an article - {{ parent() }}
{% endblock %}

{% block blog_body %}
<h2>Modify an article</h2>

{% include "BlogBundle:Blog:forme.html.twig" %}

<p>
    You can edit your article now...
</p>

<p>
    <a href="{{ path('blog_read', {'id': article.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Return to article
    </a>
</p>

{% endblock %}