{# bye bye template #}

<!DOCTYPE html>
<html>
    <head>
        <title>Quit the system</title>
    </head>
    <body>
        <h1>{{ name }} : quit the system</h1>
        
        <p>
        晚安吧，但是别忘记为什么醒来……
        </p>
    </body>
</html>
