{# read blog article template #}

<!DOCTYPE html>
<html>
    <head>
        <title>Read the article {{ id}}</title>
    </head>
    <body>
        <h1>Hello article n°{{ id }} !</h1>
    </body>
</html>
